
<section class="section-sobremi">
  <div class="container-sobremi">
    <div class="container-text-sobremi">
      <h2 class="title-sobremi" id="sobremi">Sobre mi</h2>
      <p>
        Estudie programación de software de allí me empezó a gustar el
        desarrollo web específicamente el desarrollo font-end desde entonces he
        estado estudiando por mi propia cuenta viendo videos y curso acerca del
        desarrollo web me gusta el desarrollo font-end y me gustaría a futuro
        aprender muchas más tecnologías. Sigo cada dia aprendiendo mas y
        practicando soy una persona muy responsable, dinámica y creativa , con
        facilidad de adaptación , con ganas de trabajar y aprender con
        iniciativa para resolver problemas y lograr las metas y objetivos
        trazados por la empresa
      </p>
    </div>
    <div class="container-svg-sobremi">
      <div class="container-svg">
        <lottie-player
          src="https://assets8.lottiefiles.com/packages/lf20_sg18igu8.json"
          background="transparent"
          speed="1"
          style="width: 380px; height: 380px; position:relative;"
          loop
          autoplay></lottie-player>
      </div>
    </div>
  </div>
</section>
