---
import photoperfil from "../../../img/photo-perfil.webp";
---

<dir class="container-persentation">
  <div class="container-text">
    <h2 class="text-hello">Hola <strong>soy</strong></h2>
    <h2 class="text-name">Osnaider Martinez</h2>
    <div class="container-profetion">
      <div>
        <span class="p-profesion">D</span>
        <span class="p-profesion">e</span>
        <span class="p-profesion">s</span>
        <span class="p-profesion">a</span>
        <span class="p-profesion">r</span>
        <span class="p-profesion">r</span>
        <span class="p-profesion">o</span>
        <span class="p-profesion">l</span>
        <span class="p-profesion">l</span>
        <span class="p-profesion">a</span>
        <span class="p-profesion">d</span>
        <span class="p-profesion">o</span>
        <span class="p-profesion">r</span>
        <span class="">&nbsp;</span>
      </div>
      <div class="">
        <span class="p-profesion">F</span>
        <span class="p-profesion">r</span>
        <span class="p-profesion">o</span>
        <span class="p-profesion">n</span>
        <span class="p-profesion">t</span>
        <span class="p-profesion">-</span>
        <span class="p-profesion">e</span>
        <span class="p-profesion">n</span>
        <span class="p-profesion">d</span>
        <span class="">&nbsp;</span>
        <span class="p-profesion">J</span>
        <span class="p-profesion">r</span>
      </div>
    </div>
    <p class="p-presentation">
      Soy un apasionado de la tecnología y me encanta crear experiencias web dinamicas y únicas para el usuario. Mi pasión por la tecnología me impulsa a mantenerme actualizado sobre las últimas tendencias y mejores prácticas en el campo del desarrollo web.
    </p>
    <div class="container-curriculum">
      <a href="https://wa.me/+573166026155" target="_blank" class="a-hablemos"
        >Hablemos</a
      >
      <a href="https://drive.google.com/file/d/1BAPdk1PSGDJL1nvCnGEg3NNw4LjoJ3sx/view?usp=sharing" class="a-curriculum" target="_blank">Ver Currículum</a>
      
    </div>
    <div class="container-social">
      <p class="">Echa un vistaso a mi</p>
      <a href="https://github.com/Osnaider19" target="_blank">
        <li class="li-social">
          <i class="fa-brands fa-github"></i>
        </li>
      </a>
      <a
        href="https://www.linkedin.com/in/osnaider-mart%C3%ADnez-154b67256/"
        target="_blank"
      >
        <li class="li-social">
          <i class="fa-brands fa-linkedin"></i>
        </li>
      </a>
    </div>
  </div>
  <div class="container-photo-profile">
    <div class="photo-perfil">
      <picture>
        <img src={photoperfil} alt="Osnaider Martinez" id="inicio"/>
      </picture>
    </div>
  </div>
</dir>

<script>
  const letters = document.querySelectorAll(".p-profesion");
  letters.forEach((letter) => {
    letter.addEventListener("mouseenter", () => {
      toogle(letter);
    });
  });

  function toogle(letter) {
    letter.classList.add("bouncing");
    letter.addEventListener("animationend", () => {
      letter.classList.remove("bouncing");
    });
  }
</script>
