---
import photoperfil from "../../../img/photo-perfil.png";
---

<dir class="container-persentation">
  <div class="container-text">
    <h2 class="text-hello">Hola <strong>soy</strong></h2>
    <h2 class="text-name">Osnaider Martinez</h2>
    <p class="p-profession">Desarrollador Front-end Jr</p>
    <p class="p-presentation">
      Soy un apasionado de la tecnología y me encanta crear experiencias web
      únicas. A lo largo de mi carrera, he trabajado en proyectos desafiantes,
      donde he tenido la oportunidad de aplicar mis habilidades para crear
      sitios web receptivos, intuitivos y visualmente atractivos.
    </p>
    <div class="container-curriculum">
      <a href="" class="a-hablemos">Hablemos</a>
      <a href="" class="a-curriculum">Ver Currículum</a>
    </div>
    <div class="container-social">
      <p class="">Echa un vistaso a mi</p>
      <a href="">
        <li class="li-social">
          <i class="fa-brands fa-github"></i>
        </li>
      </a>
      <a href="">
        <li class="li-social">
          <i class="fa-brands fa-linkedin"></i>
        </li>
      </a>
    </div>
  </div>
  <div class="container-photo-profile">
    <div class="photo-perfil">
      <picture>
        <img src={photoperfil} alt="Osnaider Martinez" />
      </picture>
    </div>
  </div>
</dir>
