---
import IconAstro from "./IconAstro.astro";
import IconMaterialUi from "./IconMaterialUi.astro";
import IconNextjs from "./IconNextjs.astro";
import IconRedux from "./IconRedux.astro";
import IconStyled from "./IconStyled.astro";
import IconTailwind from "./IconTailwind.astro";
import IconRadix from "./IconRadix.astro";
import IconReactQuery from "./IconReactQuery.astro";
import IconTypeScript from "./IconTypeScript.astro";
import IconZustand from "./IconZustand.astro";
---

<section class="section-skill">
  <div class="linear-grandient-1"></div>
  <div class="container-skill">
    <h2 class="title-skills" id="skills">Habilidades</h2>
    <ul class="ul-skill">
      <li class="li-skills">
        <i class="fa-brands fa-html5 icon-skills skill-html"></i>
        <p class="p-skills">Html</p>
      </li>

      <li class="li-skills">
        <i class="fa-brands fa-css3-alt icon-skills skill-css"></i>
        <p class="p-skills">Css</p>
      </li>

      <li class="li-skills">
        <i class="fa-brands fa-js icon-skills skill-javascript"></i>
        <p class="p-skills">JavaScript</p>
      </li>

      <li class="li-skills">
        <IconAstro />
        <p class="p-skills">Astro</p>
      </li>

      <li class="li-skills">
        <IconTailwind />
        <p class="p-skills">Tailwindcss</p>
      </li>

      <li class="li-skills">
        <i class="fa-brands fa-react icon-skills icon-react"></i>
        <p class="p-skills">React Js</p>
      </li>
      <li class="li-skills">
        <IconNextjs />
        <p class="p-skills">Next Js</p>
      </li>
      <li class="li-skills">
        <i class="fa-brands fa-git-alt icon-skills icon-git"></i>
        <p class="p-skills">Git</p>
      </li>
      <li class="li-skills">
        <i class="fa-brands fa-github icon-skills icon-github"></i>
        <p class="p-skills">Github</p>
      </li>
      <li class="li-skills">
        <IconMaterialUi />
        <p class="p-skills">Material UI</p>
      </li>
      <li class="li-skills">
        <IconRedux />
        <p class="p-skills">Redux Js</p>
      </li>
      <li class="li-skills">
        <IconStyled />
        <p class="p-skills">Styled Components</p>
      </li>
      <li class="li-skills">
        <IconTypeScript />
        <p class="p-skills">TypeScript</p>
      </li>
      <li class="li-skills">
        <IconRadix />
      </li>
      <li class="li-skills">
        <IconReactQuery />
        <p class="p-skills">React Query</p>
      </li>

      <li class="li-skills">
        <IconZustand />
        <p class="p-skills">Zustand</p>
      </li>
    </ul>
  </div>
</section>

<style>
  .section-skill {
    position: relative;
    overflow: hidden;
    background-color: #111111;
  }
  .linear-grandient-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(
      to right,
      transparent,
      transparent,
      rgba(1, 190, 150, 0.5)
    ); */
    background: linear-gradient(to top, #000, rgba(1, 190, 150, 0.5));

    z-index: 0;
  }

  .ul-skill {
    position: relative;
    display: grid;
    width: 100%;
    align-items: center;
    gap: 15px;
    padding: 40px 0;
    width: 100%;
    overflow: hidden;
    grid-template-columns: repeat(8, 1fr);
  }
  @media (min-width: 300px) {
    .ul-skill {
      grid-template-columns: repeat(3, 1fr);
      padding: 20px 0;
    }
  }
  @media (min-width: 550px) {
    .ul-skill {
      grid-template-columns: repeat(4, 1fr);
      padding: 20px 0;
    }
  }
  @media (min-width: 800px) {
    .ul-skill {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @media (min-width: 1000px) {
    .ul-skill {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  @media (min-width: 1200px) {
    .ul-skill {
      grid-template-columns: repeat(7, 1fr);
    }
  }
  @media (min-width: 1350px) {
    .ul-skill {
      grid-template-columns: repeat(8, 1fr);
    }
  }
</style>
