---
import IconAstro from "./IconAstro.astro";
import IconMaterialUi from "./IconMaterialUi.astro";
import IconNextjs from "./IconNextjs.astro";
import IconRedux from "./IconRedux.astro";
import IconStyled from "./IconStyled.astro";
import IconTailwind from "./IconTailwind.astro";
import IconRadix from "./IconRadix.astro";
---

<section>
  <div class="container-skill">
    <h2 class="title-skills" id="skills">Habilidades</h2>
    <ul class="ul-skill">
      <li class="li-skills">
        <i class="fa-brands fa-html5 icon-skills skill-html"></i>
        <p class="p-skills">Html</p>
      </li>

      <li class="li-skills">
        <i class="fa-brands fa-css3-alt icon-skills skill-css"></i>
        <p class="p-skills">Css</p>
      </li>

      <li class="li-skills">
        <i class="fa-brands fa-js icon-skills skill-javascript"></i>
        <p class="p-skills">JavaScript</p>
      </li>

      <li class="li-skills">
        <IconAstro />
        <p class="p-skills">Astro</p>
      </li>

      <li class="li-skills">
        <IconTailwind />
        <p class="p-skills">Tailwindcss</p>
      </li>

      <li class="li-skills">
        <i class="fa-brands fa-react icon-skills icon-react"></i>
        <p class="p-skills">React Js</p>
      </li>

      <li class="li-skills">
        <i class="fa-brands fa-git-alt icon-skills icon-git"></i>
        <p class="p-skills">Git</p>
      </li>
      <li class="li-skills">
        <i class="fa-brands fa-github icon-skills icon-github"></i>
        <p class="p-skills">Github</p>
      </li>
      <li class="li-skills">
        <IconMaterialUi />
        <p class="p-skills">Material UI</p>
      </li>
      <li class="li-skills">
        <IconRedux />
        <p class="p-skills">Redux Js</p>
      </li>
      <li class="li-skills">
        <IconStyled />
        <p class="p-skills">Styled Components</p>
      </li>
      <li class="li-skills">
        <IconNextjs />
        <p class="p-skills">Next Js</p>
      </li>
      <li class="li-skills">
        <IconRadix />
      </li>
    </ul>
  </div>
</section>
