---
import Estudios from "./estudios/Estudios.astro";
import Hablidades from "./habilidades/Hablidades.astro";
import Inicio from "./principal/Inicio.astro";
import Proyectos from "./proyectos/Proyectos.astro";
import Sobremi from "./sobremi/Sobremi.astro";
---

<main>
  <div class="container_p">
    <Inicio />
    <Proyectos />
    <Hablidades />
    <Estudios />
    <Sobremi />
  </div>
</main>
