---
import Hablidades from './habilidades/Hablidades.astro';
import Inicio from './principal/Inicio.astro';
import Proyectos from './proyectos/Proyectos.astro';
import Sobremi from './sobremi/Sobremi.astro';
---

<main>
   <Inicio></Inicio>
   <Sobremi></Sobremi>
   <Hablidades></Hablidades>
   <Proyectos></Proyectos>
</main>

