---
import imgproyectos from "../../../img/cyberpunk.jpg";
---

<section class="section-proyects">
  <div class="container-proyects">
    <h2 class="title-proyects" id="proyectos">Proyectos</h2>
    <div>
      <ul class="ul-proyects">
        <li class="li-proyects">
          <img src={imgproyectos} alt="Cyberpunk" />
          <p class="title-proyect">cyberpunk</p>
          <p class="description-proyect">
            este proyecto se trata de un clon de la pagína de cyberpunk , donde
            el ususario puede ver los tailer de él juegos y también los
            episodios de la serie....
          </p>
          <p class="title-technologies">tecnologías usadas</p>
          <div class="container-technologies">
            <i class="fa-brands fa-html5 icon-skills skill-html"></i>
            <i class="fa-brands fa-css3-alt icon-skills skill-css"></i>
            <i class="fa-brands fa-js icon-skills skill-javascript"></i>
          </div>
          <div class="container-link-proyect">
            <a
              href="https://preeminent-liger-266356.netlify.app/"
              target="_blank">Ver más</a
            >
          </div>
        </li>

        <li class="li-proyects">
          <img
            src="https://i0.wp.com/blogpascher.com/wp-content/uploads/2018/09/62222-big.jpg?fit=900%2C560&ssl=1"
            alt=""
          />
          <p class="title-proyect">cyberpunk</p>
          <p class="description-proyect">
            este proyecto se trata de un clon de la pagína de cyberpunk
          </p>
          <p class="title-technologies">tecnologías usadas</p>
          <div class="container-technologies">
            <i class="fa-brands fa-html5 icon-skills skill-html"></i>
            <i class="fa-brands fa-css3-alt icon-skills skill-css"></i>
            <i class="fa-brands fa-js icon-skills skill-javascript"></i>
          </div>
          <div class="container-link-proyect">
            <a href="">Ver más</a>
          </div>
        </li>

        <li class="li-proyects">
          <img
            src="https://i0.wp.com/www.webtralia.com/wp-content/uploads/2019/07/Templates-HTML5-Music-Band-Responsive-Website-Template.jpg?fit=590%2C300&ssl=1"
            alt=""
          />
          <p class="title-proyect">cyberpunk</p>
          <p class="description-proyect">
            este proyecto se trata de un clon de la pagína de cyberpunk
          </p>
          <p class="title-technologies">tecnologías usadas</p>
          <div class="container-technologies">
            <i class="fa-brands fa-html5 icon-skills skill-html"></i>
            <i class="fa-brands fa-css3-alt icon-skills skill-css"></i>
            <i class="fa-brands fa-js icon-skills skill-javascript"></i>
          </div>
          <div class="container-link-proyect">
            <a href="">Ver más</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
