---
import imgproyectos from "../../../img/cyberpunk.jpg";
---

<section>
  <div class="container-proyects">
    <h2 class="title-proyects">Proyectos</h2>
    <div>
      <ul class="ul-proyects">
        <li class="li-proyects">
          <img src={imgproyectos} alt="" />
          <p class="title-proyect">cyberpunk</p>
          <p class="title-technologies">tecnologías usadas</p>
          <div class="container-technologies">
            <i class="fa-brands fa-html5 icon-skills skill-html"></i>
            <i class="fa-brands fa-css3-alt icon-skills skill-css"></i>
            <i class="fa-brands fa-js icon-skills skill-javascript"></i>
          </div>
          <div class="container-link-proyect">
            <a href="">Ver más</a>
          </div>
        </li>

        <li class="li-proyects">
            <img src={imgproyectos} alt="" />
            <p class="title-proyect">cyberpunk</p>
            <p class="description-proyect">este proyecto se trata de un clon de la pagína de cyberpunk</p>
            <p class="title-technologies">tecnologías usadas</p>
            <div class="container-technologies">
              <i class="fa-brands fa-html5 icon-skills skill-html"></i>
              <i class="fa-brands fa-css3-alt icon-skills skill-css"></i>
              <i class="fa-brands fa-js icon-skills skill-javascript"></i>
            </div>
            <div class="container-link-proyect">
              <a href="">Ver más</a>
            </div>
          </li>
      </ul>
    </div>
  </div>
</section>
