---
import cyberpunk from "../../../img/cyberpunk.webp";
import movie from "../../../img/movie.webp";
import landing from "../../../img/landing.webp";
import IconAstro from "../habilidades/IconAstro.astro";
import IconTailwind from "../habilidades/IconTailwind.astro";
---

<section class="section-proyects">
  <div class="container-proyects">
    <h2 class="title-proyects" id="proyectos">Proyectos</h2>
    <div>
      <ul class="ul-proyects">
        <li class="li-proyects">
          <img src={cyberpunk} alt="Cyberpunk" />
          <p class="title-proyect">cyberpunk</p>
          <p class="description-proyect">
            este proyecto se trata de un clon de la pagína de cyberpunk , donde
            el ususario puede ver los tailer de él juegos y también los
            episodios de la serie....
          </p>
          <p class="title-technologies">tecnologías usadas</p>
          <div class="container-technologies">
            <i class="fa-brands fa-html5 icon-skills skill-html"></i>
            <i class="fa-brands fa-css3-alt icon-skills skill-css"></i>
            <i class="fa-brands fa-js icon-skills skill-javascript"></i>
          </div>
          <div class="container-link-proyect">
            <a
              href="https://preeminent-liger-266356.netlify.app/"
              target="_blank">Ver más</a
            >
          </div>
        </li>

        <li class="li-proyects">
          <img src={movie} alt="" />
          <p class="title-proyect">Movie Tv</p>
          <p class="description-proyect">
            simulando una página de películas , consumiendo la API de themovietv
            donde los usuarios pueden buscar películas y ver trailer.....
          </p>
          <p class="title-technologies">tecnologías usadas</p>
          <div class="container-technologies">
            <i class="fa-brands fa-react icon-skills skill-react"></i>
            <i class="fa-brands fa-css3-alt icon-skills skill-css"></i>
            <IconTailwind />
            <i class="fa-brands fa-js icon-skills skill-javascript"></i>
            <i class=""></i>
          </div>
          <div class="container-link-proyect">
            <a href="https://movietvsite.netlify.app/" target="_blank"
              >Ver más</a
            >
          </div>
        </li>
        <li class="li-proyects">
          <img src={landing} alt="" />
          <p class="title-proyect">Landing Realidad Virtual</p>
          <p class="description-proyect">
            landing page de gafas de realidad virtual donde se muestra el producto y como funciona 
          </p>
          <p class="title-technologies">tecnologías usadas</p>
          <div class="container-technologies">
            <IconAstro />
            <i class="fa-brands fa-css3-alt icon-skills skill-css"></i>
            <IconTailwind />
            <i class="fa-brands fa-js icon-skills skill-javascript"></i>
          </div>
          <div class="container-link-proyect">
            <a href="https://realityvirtual.netlify.app/" target="_blank"
              >Ver más</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
