---
import Header from "../components/header/Header.astro";
import "../style/index.css";
import Main from "../components/main/main.astro";
import Footer from "../components/footer/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Osnaider Martinez de desarrollador web Frontend React Js , Astro , 
      Next Js Con más de 1 año de experiencia en la creación de experiencias web
      atractivas y funcionales."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://osnaidermartinez.vercel.app/" />
    <meta property="og:site_name" content="Osnaider Martinez" />
    <meta property="og:title" content="Osnaider Martinez Portafolio" />
    <meta
      property="og:image"
      content="https://osnaidermartinez.vercel.app/img/preview-page.webp"
    />

    <script
      src="https://kit.fontawesome.com/2898a0ac51.js"
      crossorigin="anonymous"></script>
    <title>Portafolio | Osnaider Martinez</title>
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>
