<header class="header">
  <h1 id="inicio">Portafolio</h1>
  <nav class="nav">
    <ul class="ul-nav">
      <li class="li-nav">
        <a href="#inicio">Inicio</a>
      </li>
    </ul>

    <li class="li-nav">
      <a href="#sobremi">Sobre mi</a>
    </li>

    <li class="li-nav">
      <a href="#skills">Habilidades</a>
    </li>

    <li class="li-nav">
      <a href="#proyectos">Proyectos</a>
    </li>

    <li class="li-nav">
      <a href="#contacto">Contacto</a>
    </li>
  </nav>
  <div class="container-bnt-menu">
    <div class="btn-menu">
      <span class="linea-menu" id="linea1"></span>
      <span class="linea-menu" id="linea2"></span>
      <span class="linea-menu" id="linea3"></span>
    </div>
  </div>

  
</header>
<div class="menu-drop"></div>

<script>
  const $menu = document.querySelector(".nav");
  const $menuDrop = document.querySelector(".menu-drop");
  const $btnmenu = document.querySelector(".btn-menu");
  const $linea1 = document.querySelector("#linea1");
  const $linea2 = document.querySelector("#linea2");
  const $linea3 = document.querySelector("#linea3");
  $btnmenu.addEventListener("click", () => {
    $linea1.classList.toggle("activelinea1__bars-menu");
    $linea2.classList.toggle("activelinea2__bars-menu");
    $linea3.classList.toggle("activelinea3__bars-menu");
    $menu.classList.toggle("menu-activado");
    $menuDrop.classList.toggle("activa-menu-drop");
  });

  $menuDrop.addEventListener("click", () => {
    $linea1.classList.toggle("activelinea1__bars-menu");
    $linea2.classList.toggle("activelinea2__bars-menu");
    $linea3.classList.toggle("activelinea3__bars-menu");
    $menu.classList.toggle("menu-activado");
    $menuDrop.classList.toggle("activa-menu-drop");
  });
</script>
