<header class="header">
  <nav class="nav">
    <h1>Portafolio</h1>
    <ul class="ul-nav">
      <a href="">
        <li class="li-nav">Inicio</li>
      </a>
      <a href="">
        <li class="li-nav">Sobre mi</li>
      </a>
      <a href="">
        <li class="li-nav">Habilidades</li>
      </a>
      <a href="">
        <li class="li-nav">Proyectos</li>
      </a>
      <a href="">
        <li class="li-nav">Formación</li>
      </a>
      <a href="">
        <li class="li-nav">Contacto</li>
      </a>
    </ul>
  </nav>
</header>
