@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Lato:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1355px;
}
html{
    margin: 0 auto;
}
:root{
    --text : 'Lato', sans-serif;
}
body{
  font-family: 'ABeeZee', sans-serif;
  background-color: #25242d;
  
}
html::-webkit-scrollbar{
    background-color: #46465e;
    width: 10px;
}
html::-webkit-scrollbar-thumb{
    background-color: #01BE96;
    border-radius: 20px;
    width: 10px;
}


.header{
    position: relative;
    height: 80px;
    background-color: #25242d;
    width: 100%;
    padding: 20px 20px;
    color: #f6f6f9;
    display: flex;
    justify-content: space-between;
}
.header h1{
    display: inline-block;
}
.nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f6f6f9;
}
.ul-nav{
    position: relative;
    display: flex;
}
.ul-nav a{
    text-decoration: none;
   
}
.li-nav{
    position: relative;
    list-style: none;
    margin: 10px 13px;
    color: #f6f6f9;
    transition: .3s;
}
.li-nav::before{
    content: '';
    position: absolute;
    height: 2px ;
    width:0%;
    background-color: #f6f6f9;
    bottom: -1px;
    opacity: .7;
}
.li-nav:hover::before{
    width: 100%;
    transition: .4s;
}
.li-nav:hover{
    opacity: .8;
}

main{
    position: relative;
    
}
.container-persentation{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 87vh;
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
}
.container-text{
    position: relative;
    width: 50%;
    color: #f6f6f9;
}
.text-hello{
    padding: 10px 0;
    font-size: 20px;
}

.text-name{
    padding: 5px 0;
    font-size: 30px;
    color: #01BE96;
    font-weight:800;
    letter-spacing: 1px;
}

.p-profession{
    padding: 9px 0;
    font-size: 30px;
    font-weight: 800;
}
.p-presentation{
    padding: 12px 0;
    font-size: 19px;
    width: 90%;
    text-align:  left;
}
.container-curriculum{
    position: relative;
    padding: 40px 0;
    display: flex;
   gap: 20px;
}
.a-hablemos{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border: 1px solid #01BE96;
    font-size: 18px;
    background-color: #01BE96;
    text-decoration: none;
    color: #f6f6f9;
    transition: .3s;
}
.a-hablemos:hover{
    transform: translateX(4px);
}

.a-curriculum{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    color: #f6f6f9;
    border: 1px solid #01BE96;
    font-size: 18px;
    text-decoration: none;
    transition: .3s;
}
.a-curriculum:hover{
    background-color: rgba(1, 190, 150, .3);
    transform: translateX(4px);  
}
.container-social{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}
.container-social a{
  text-decoration: none;
}
.li-social{
    position: relative;
    list-style: none;
    background-color:  #01BE96;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 40px;
}
.li-social i {
    font-size: 25px;
    color: #f6f6f9;
}
.li-social:hover{
    transform: rotate(-360deg);
}
.container-photo-profile{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    
}

.photo-perfil{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #01BE96;
    overflow: hidden;
    height: 350px;
    width: 350px;
    margin-top: 30px;
    margin-left: 110px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px rgba(1, 190, 150 , .3);
    z-index: 10;
    border-radius: 64% 36% 29% 71% / 59% 79% 21% 41%;
}

.photo-perfil img{
    position: relative;
    display: block;
    top: 10px;
    left: 5px;
    height: 350px;
    object-fit: cover;
    filter: drop-shadow(10px -5px 10px #000) contrast(110%);
    transition: .3s;
}

.photo-perfil img:hover{
    transform: translateY(-10px);
}

/* seccion sobre mi*/
.section-sobremi{
    position: relative;
    background-color: #3d3e4f;
}
.container-sobremi{
    position: relative;
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.container-text-sobremi{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-sobremi{
    position: relative;
    display: block;
    font-size: 27px;
    padding: 10px 0;
    color: #f6f6f9;
    width: 100%;    
    font-weight: 800;
}
.container-text-sobremi p{
    font-size: 17px;
    color: #f6f6f9;
    text-align: left;
    letter-spacing: 1px;
}

.container-svg-sobremi{
    position: relative;
    width: 50%;
}
.container-svg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}

.container-skill{
    position: relative;
    width: 90%;
    color: #f6f6f9;
    padding: 10px 0;
    margin: 0 auto;
    padding: 10px 0;
}
.title-skills{
    position: relative;
    display: block;
    font-size: 27px;
    padding: 10px 0;
    color: #f6f6f9;
    width: 100%;    
    font-weight: 800;
}

.ul-skill{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 0;
}

.li-skills{
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.icon-skills{
    font-size: 50px;
}

.skill-html{
    color: #D84924;
}
.skill-css{
    color: #254BDD;
}
.skill-javascript{
    color: #EAD41C;
}
.icon-react{
    color: #1396C0;
}
.icon-git{
  color: #E84E31;
}


.p-skills{
   padding: 5px 0; 
}

.section-proyects{
    position: relative;
    background-color: #3d3e4f;
}

.container-proyects{
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.title-proyects{
    position: relative;
    display: block;
    font-size: 27px;
    padding: 20px 0;
    color: #f6f6f9;
    width: 100%;    
    font-weight: 800;
}

.ul-proyects{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
    gap: 40px;
}
.ul-proyects a{
  text-decoration: none;
}

.li-proyects{
    position: relative;
    list-style: none;
    border: 1px solid #3d3e4f;
    overflow: hidden;
    width: 350px;
    border-radius: 2px ;
    transition: transform , box-shadow , .3s;
    border-radius: 7px;
    background-color: #25242d;
    z-index: 1;
    min-height: 494px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.li-proyects:nth-child(){
    min-height: 100%;
}

.li-proyects::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    bottom: 0;
    transition: .3s ease-in-out;
}

.li-proyects:hover::before{
    content: "";
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    bottom: 0;
    transition: .3s ease-in-out;
}
.li-proyects:hover{
    transform: translateY(-10px);
}
.li-proyects img{
    position: relative;
    display: block;
    height: 190px;
    width: 350px;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}
.title-proyect{
    color: #f6f6f9;
    padding: 10px 10px;
    font-size: 25px;
    font-weight: 700;
}
.title-proyect::first-letter{
    text-transform: capitalize;
}

.title-technologies{
    color: #6C7A84;
    font-size: 20px;
    padding: 5px 10px;

}
.description-proyect{
  padding: 5px 10px;
  color:#6C7A84; 
  font-size: 17px;
  font-weight: 400;
}
.description-proyect::first-letter{
    text-transform: capitalize;
}

.title-technologies::first-letter{
    text-transform: capitalize;
}

.container-technologies{
    position: relative;
    display: flex;
    justify-content: start;
    padding: 10px 10px;
    gap: 20px;
    
}
.container-link-proyect{
    position: relative;
    width: 100%;
    padding: 20px 10px;
    
}

.container-link-proyect a{
    position: relative;
    text-decoration: none;
    padding: 10px 10px;
    background-color: #01BE96;
    border-radius: 5px;
    color: #f6f6f9;
    justify-content: space-between;
}

.section-footer{
    position: relative;
    width: 100%;
}
.container-footer{
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}
.title-contact{
    color: #f6f6f9;
    padding: 10px 0;
    font-size: 25px;
    font-weight: 700;
}
.container-redes{
    position: relative;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 30px 0;
    flex-wrap: wrap;
}

.container-redes a{
    text-decoration: none;
    color: #f6f6f9; 
}
.li-contact{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}
.li-contact i{
    font-size: 30px;
}
.container-copy{
    position: relative;
    color: #f6f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}


.container-bnt-menu{
    display: none;
}



/*Responsivo*/



@media (max-width:1000px){
  .photo-perfil{
    min-width: 350px;
    min-height: 350px;
  }
}


@media (max-width:720px) {
    .container-bnt-menu{
        display: block;
    }
    .header{
        position: fixed;
        display: flex;
        background-color: #1396C0;
        justify-items: center;
        justify-content: space-between;
        top: 0;
        left: 0;
        z-index: 100;
    }
    h1{
        display: inline-block;
    }
    .container-bnt-menu{
        position: relative;
        padding: 0px 20px;
        
    }
    .linea-menu{
        display: block;
        position: relative;
        height: 2px;
        width: 40px;
        background-color: #f6f6f9;
        top: -5px;
        margin-top: 10px;
        cursor: pointer;
        transform-origin: 0px 100%;
        transition: all .4s;
    }
    .activelinea1__bars-menu{
        transform: rotate(40deg)
         translate(-2px, 1px);
    }
    .activelinea2__bars-menu{
        opacity: 0;
        margin-left: -30px;
    }
    .activelinea3__bars-menu{
        transform: rotate(-40deg)
        translate(-2px, 1px);
    }
    .nav{
        position: fixed;
        flex-direction: column  ;
        background: #3d3e4f;
        width: auto;
        height: 100%;
        right: -300px;
        top: 80px;
        transition: right .4s ease-in-out;
        z-index: 100;
    }
    .ul-nav a{
        
    }
    .li-nav{
        padding: 30px 80px;
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .li-nav:hover{
        background-color: #01BE96;
    }
    .li-nav:hover::before{
        content: '';
        width: 0;
        height: 0;
    }
    
    .menu-activado{
        right: 0px;
        transition: right .4s ease-in-out;
    }
    .menu-drop{
        top: 0;
        left: 0;
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 20;
        display: none;
    }
    .activa-menu-drop{
        display: block;
        transition: .5s display;
    }
    .ul-nav{
        flex-direction: column  ; 
        width: auto;
    }
   .container-persentation{
    flex-direction: column-reverse;
    height: auto;
    gap: 30px;
    padding-top: 100px;
   } 
   .container-photo-profile{
    width: 100%;
    justify-content: center;
    justify-items: center;
    margin: 0;
   }
   .photo-perfil{
    margin: 0;
   }
   .container-text{
    width: 100%;
   }
   
   /*Resposivo de la seccion sobre mi*/


   .container-sobremi{
     flex-direction: column;

   }
   .container-svg-sobremi{
    width: 100%;
   }
   .container-svg{
    justify-content: start;
    align-items: end;
    padding: 0;
   }
   .container-text-sobremi{
    width: 100%;
    padding: 10px 0 ;
   }

   /*Responsivo de la seccion de habilidades*/

   .ul-skill{
    justify-content: space-evenly;
    gap: 10px;
   }


   /*Responsivo de la seccion de proyectos*/
   

   .container-proyects{
    width: 100%;
    padding: 0px 20px;
   }
   .ul-proyects{
    gap: 10px;
    align-items: start;
    width: 100%;
    
   }
   .li-proyects img {
     width: 300px;
   }
   .li-proyects{
    width: 300px;
   }
}


@media (max-width:640px) {

    .p-presentation{
        width: 100%;
    }
    .ul-proyects{
        justify-content: center;
    }
    .li-proyects img{
     width: 400px;
    }

    .li-proyects{
        width: 400px;
    }
}