@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Lato:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  margin: 0 auto;
  scroll-behavior: smooth;
}
:root {
  --text: "Lato", sans-serif;
  --width: 0;
  --height: 0;
  --top: 20px;
  --left: 900px;
}
body {
  font-family: "ABeeZee", sans-serif;
  background-color: #000;
}
html::-webkit-scrollbar {
  background-color: #46465e;
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background-color: #01be96;
  border-radius: 20px;
  width: 10px;
}

.header {
  position: relative;
  height: 80px;
  background-color: #000;
  width: 100%;
  padding: 20px 20px;
  color: #f6f6f9;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  max-width: 1355px;
  margin: 0 auto;
}
.header h1 {
  display: inline-block;
  position: relative;
  z-index: 20;
}
.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f6f6f9;
}
.ul-nav {
  position: relative;
  display: flex;
}

.ul-nav a {
  text-decoration: none;
  color: #f6f6f9;
}
.li-nav {
  position: relative;
  list-style: none;
  color: #f6f6f9;
  transition: 0.3s;
  margin: 0 10px;
  padding: 1px;
  text-align: center;
}
.li-nav::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: #01be96;
  bottom: -3px;
}
.li-nav:hover::before {
  width: 100%;
  transition: 0.4s;
}
.li-nav:hover {
  color: #01be96;
}
.effect-items-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--width);
  height: var(--height);
  transition: all 0.3s ease-in-out;
  transform: translateX(var(--left)) translateY(var(--top));
  background-color: #25242d;
  z-index: 0;
  border-radius: 3px;
  visibility: visible;
}

main {
  position: relative;
  background-color: #000;
}
.container-persentation {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 50px 0;
  width: 90%;
  margin: 0 auto;
  max-width: 1355px;
}
.container-text {
  position: relative;
  width: 50%;
  color: #f6f6f9;
}
.text-hello {
  padding: 10px 0;
  font-size: 20px;
}

.text-name {
  padding: 5px 0;
  font-size: 30px;
  color: #01be96;
  font-weight: 800;
  letter-spacing: 1px;
  margin-top: 30px;
}
.container-profetion {
  cursor: pointer;
  padding: 5px 0;
}
.p-profesion {
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  display: inline-block;
  text-transform: capitalize;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.bouncing {
  transition: 0.8s all;
  color: #01be96;
  animation: rubberband 400ms alternate ease-out;
}

@keyframes rubberband {
  10% {
    transform: scaleX(1);
  }
  40% {
    transform: scaleX(1.12) scaleY(0.75);
  }
  55% {
    transform: scaleX(0.85) scaleY(1);
  }
  75% {
    transform: scaleX(0.9) scaleY(1);
  }
  90% {
    transform: scaleX(1.85) scaleY(0.95);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
.p-presentation {
  padding: 12px 0;
  font-size: 19px;
  width: 90%;
  text-align: left;
}

.container-curriculum {
  position: relative;
  padding: 40px 0;
  display: flex;
  gap: 20px;
}
.a-hablemos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border: 1px solid #01be96;
  font-size: 18px;
  background-color: #01be96;
  text-decoration: none;
  color: #f6f6f9;
  transition: 0.3s;
}
.a-hablemos:hover {
  transform: translateX(4px);
}

.a-curriculum {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  color: #f6f6f9;
  border: 1px solid #01be96;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}
.a-curriculum:hover {
  background-color: rgba(1, 190, 150, 0.3);
  transform: translateX(4px);
}
.container-social {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.container-social a {
  text-decoration: none;
}
.li-social {
  position: relative;
  list-style: none;
  background-color: #01be96;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 40px;
}
.li-social i {
  font-size: 25px;
  color: #f6f6f9;
}
.li-social:hover {
  transform: rotate(-360deg);
}
.container-photo-profile {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
}

.photo-perfil {
  position: relative;
  display: flex;
  justify-content: center;

  overflow: hidden;
  height: 300px;
  width: 300px;
  margin-top: 30px;
  margin-left: 110px;
  border-radius: 50%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* border-radius: 64% 36% 29% 71% / 59% 79% 21% 41%; */
}

.photo-perfil img {
  position: relative;
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: drop-shadow(-10px -5px 10px #000) contrast(110%);
  transition: 0.3s;
}

/* seccion sobre mi*/
.section-sobremi {
  position: relative;
  background-color: #111111;
}
.container-sobremi {
  position: relative;
  width: 90%;
  display: flex;
  margin: 0 auto;
  max-width: 1355px;
}

.container-text-sobremi {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-sobremi {
  position: relative;
  display: block;
  font-size: 27px;
  padding: 10px 0;
  color: #f6f6f9;
  width: 100%;
  font-weight: 800;
  scroll-margin-top: 80px;
}
.container-text-sobremi p {
  font-size: 17px;
  color: #f6f6f9;
  text-align: left;
  letter-spacing: 1px;
}

.container-svg-sobremi {
  position: relative;
  width: 50%;
}
.container-svg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

.container-skill {
  position: relative;
  width: 90%;
  color: #f6f6f9;
  padding: 10px 0;
  margin: 0 auto;
  padding: 10px 0;
  height: 100%;
  max-width: 1355px;
}
.title-skills {
  position: relative;
  display: block;
  font-size: 27px;
  padding: 10px 0;
  color: #f6f6f9;
  width: 100%;
  font-weight: 800;
  scroll-margin-top: 80px;
}

.li-skills {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.icon-skills {
  font-size: 50px;
}

.skill-html {
  color: #d84924;
}

.skill-react {
  color: #1399c4;
}
.skill-css {
  color: #254bdd;
}
.skill-javascript {
  color: #ead41c;
}
.icon-react {
  color: #1396c0;
}
.icon-git {
  color: #e84e31;
}

.p-skills {
  padding: 5px 0;
}

.section-proyects {
  position: relative;
  background-color: #111111;
  overflow: hidden;
}

.container-proyects {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 1355px;
}
.title-proyects {
  position: relative;
  display: block;
  font-size: 27px;
  padding: 20px 0;
  color: #f6f6f9;
  width: 100%;
  font-weight: 800;
  scroll-margin-top: 80px;
}

.ul-proyects {
  position: relative;
  display: grid;
  place-items: center;
  padding: 40px 0;
  width: 100%;
  height: 100%;
  
}
.ul-proyects a {
  text-decoration: none;
}

@media (min-width: 300px) {
  .ul-proyects {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
@media (min-width: 700px) {
  .ul-proyects {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .ul-proyects {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }
}

.li-proyects {
  position: relative;
  list-style: none;
  border: 1px solid #3d3e4f;
  overflow: hidden;
  max-width: 380px;
  min-width: 300px;
  width: 100%;
  border-radius: 2px;
  transition: transform, box-shadow, 0.3s;
  border-radius: 7px;
  background-color: #25242d;
  z-index: 1;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.li-proyects:nth-child() {
  min-height: 100%;
}

.li-proyects::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  bottom: 0;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}

.li-proyects:hover::before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  bottom: 0;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}
.li-proyects:hover {
  transform: translateY(-10px);
}
.li-proyects img {
  position: relative;
  display: block;
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: left top;
  user-select: none;
  pointer-events: none;
}
.title-proyect {
  color: #f6f6f9;
  padding: 10px 10px;
  font-size: 25px;
  font-weight: 700;
}
.title-proyect::first-letter {
  text-transform: capitalize;
}

.title-technologies {
  color: #f6f6f9;
  font-size: 20px;
  padding: 5px 10px;
}
.description-proyect {
  padding: 0 10px;
  color: #f6f6f990;
  font-size: 17px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.description-proyect::first-letter {
  text-transform: capitalize;
}

.title-technologies::first-letter {
  text-transform: capitalize;
}

.container-technologies {
  position: relative;
  display: flex;
  justify-content: start;
  padding: 10px 10px;
  column-gap: 20px;
  flex-wrap: wrap;
  color: white;
}
.container-link-proyect {
  position: relative;
  width: 100%;
  padding: 20px 10px;
}

.container-link-proyect a {
  position: relative;
  text-decoration: none;
  padding: 10px 10px;
  background-color: #01be96;
  border-radius: 5px;
  color: #f6f6f9;
  justify-content: space-between;
}

.section-footer {
  position: relative;
  width: 100%;
  background-color: #111111;
}
.container-footer {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1355px;
}
.title-contact {
  color: #f6f6f9;
  padding: 10px 0;
  font-size: 25px;
  font-weight: 700;
  scroll-margin-top: 80px;
}
.container-redes {
  position: relative;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 30px 0;
  flex-wrap: wrap;
}

.container-redes a {
  text-decoration: none;
  color: #f6f6f9;
}
.li-contact {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: color 0.2s ease-in-out;
}
.li-contact i {
  font-size: 30px;
}

.li-contact:hover {
  color: #01be96;
}
.container-copy {
  position: relative;
  color: #f6f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.container-bnt-menu {
  display: none;
}

.menu-drop {
  display: none;
}

/*Responsivo*/

@media (max-width: 900px) {
  .container-persentation {
    flex-direction: column-reverse;
    height: auto;
    gap: 30px;
    padding-top: 100px;
  }
  .container-photo-profile {
    width: 100%;
    justify-content: center;
    justify-items: center;
    margin: 0;
  }
  .photo-perfil {
    margin: 0;
  }
  .container-text {
    width: 100%;
  }

  /*Resposivo de la seccion sobre mi*/

  .container-sobremi {
    flex-direction: column;
  }
  .container-svg-sobremi {
    width: 100%;
  }
  .container-svg {
    justify-content: start;
    align-items: end;
    padding: 0;
  }
  .container-text-sobremi {
    width: 100%;
    padding: 10px 0;
  }
}
@media (max-width: 720px) {
  .effect-items-menu {
    display: none;
  }
  .container-bnt-menu {
    display: block;
  }
  .header {
    position: fixed;
    display: flex;

    justify-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 100;
    /* background: rgba(255,255,255,0.1);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px); */
  }
  h1 {
    display: inline-block;
  }
  .container-bnt-menu {
    position: relative;
    padding: 0px 20px;
    z-index: 9999;
  }
  .linea-menu {
    display: block;
    position: relative;
    height: 2px;
    width: 40px;
    background-color: #f6f6f9;
    top: -5px;
    margin-top: 10px;
    cursor: pointer;
    transform-origin: 0px 100%;
    transition: all 0.4s;
  }
  .activelinea1__bars-menu {
    transform: rotate(40deg) translate(-2px, 1px);
  }
  .activelinea2__bars-menu {
    opacity: 0;
    margin-left: -30px;
  }
  .activelinea3__bars-menu {
    transform: rotate(-40deg) translate(-2px, 1px);
  }
  .nav {
    position: fixed;
    flex-direction: column;
    background: #111111;
    width: auto;
    height: 100vh;
    right: -300px;
    top: 80px;
    transition: right 0.4s ease-in-out;
    z-index: 100;
  }

  .li-nav {
    padding: 30px 80px;
    text-align: center;
    width: 100%;
    margin: 0;
  }
  .li-nav:hover {
    background-color: #01be96;
  }
  .li-nav:hover::before {
    content: "";
    width: 0;
    height: 0;
  }

  .menu-activado {
    right: 0px;
    transition: right 0.4s ease-in-out;
  }
  .menu-drop {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    display: none;
  }
  .activa-menu-drop {
    display: block;
    transition: 0.5s display;
  }
  .ul-nav {
    flex-direction: column;
    width: 100%;
  }

  /*Responsivo de la seccion de habilidades*/

  .ul-skill {
    justify-content: space-evenly;
  }

  /*Responsivo de la seccion de proyectos*/

  .container-proyects {
    width: 100%;
    padding: 0px 10px;
  }
}

@media (max-width: 640px) {
  .p-presentation {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .container-curriculum {
    display: flex;
    gap: 10px;
  }
}
