<footer>
  <section class="section-footer">
    <div class="container-footer">
      <h2 class="title-contact">Contacto</h2>
      <div class="container-redes">
        <a href="https://wa.me/+573166026155" target="_blank">
          <li class="li-contact">
            <i class="fa-brands fa-whatsapp icon-whatsapp"></i>
            <p>Whatsapp</p>
          </li>
        </a>

        <a href="" target="_blank"> 
          <li class="li-contact">
            <i class="fa-sharp fa-solid fa-envelope"></i>
            <p>Email</p>
          </li>
        </a>

        <a href="https://github.com/Osnaider19" target="_blank">
          <li class="li-contact">
            <i class="fa-brands fa-github"></i>
            <p>Github</p>
          </li>
        </a>

        <a href="https://www.instagram.com/osnaider_m19/" target="_blank">
          <li class="li-contact">
            <i class="fa-brands fa-instagram"></i>
            <p>Instagram</p>
          </li>
        </a>

        <a href="https://www.linkedin.com/in/osnaider-mart%C3%ADnez-154b67256/" target="_blank">
          <li class="li-contact">
            <i class="fa-brands fa-linkedin"></i>
            <p>Linkedin</p>
          </li>
        </a>
      </div>
      <div class="container-copy">
        <p> Copyringht &copy; | Osnaider Martinez 2023</p>
      </div>
    </div>
  </section>
</footer>
