<footer>
  <section class="section-footer">
    <div class="linear-grandient-1"></div>
    <div class="container-footer">
      <h2 class="title-contact" id="contacto">Contacto</h2>
      <div class="container-redes">
        <a href="https://wa.me/+573166026155" target="_blank">
          <li class="li-contact">
            <i class="fa-brands fa-whatsapp icon-whatsapp"></i>
            <p>Whatsapp</p>
          </li>
        </a>

        <a href="https://github.com/Osnaider19" target="_blank">
          <li class="li-contact">
            <i class="fa-brands fa-github"></i>
            <p>Github</p>
          </li>
        </a>

        <a href="https://www.instagram.com/osnaider_m19/" target="_blank">
          <li class="li-contact">
            <i class="fa-brands fa-instagram"></i>
            <p>Instagram</p>
          </li>
        </a>

        <a
          href="https://www.linkedin.com/in/osnaider-mart%C3%ADnez-154b67256/"
          target="_blank"
        >
          <li class="li-contact">
            <i class="fa-brands fa-linkedin"></i>
            <p>Linkedin</p>
          </li>
        </a>
      </div>
    </div>
  </section>
</footer>

<style>
  .section-skill {
    position: relative;
  }
  .linear-grandient-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000, rgba(1, 190, 150, 0.5));
   
    /* background: linear-gradient(
      to right,
      transparent,
      transparent,
      rgba(1, 190, 150, 0.5)
    ); */
    z-index: 0;
  }
</style>
